# Advent of Code Day 1

In [13]:
import pandas as pd
file_name = 'Day1.xlsx' 
df = pd.read_excel(file_name, index_col=0)
print(df.head()) # print the first 5 rows

     NR
ID
1   198
2   208
3   209
4   212
5   213

## Part A

In [14]:
df['diff'] = df['NR'].diff()

In [20]:
print(df.head())

     NR  diff
ID
1   198   NaN
2   208  10.0
3   209   1.0
4   212   3.0
5   213   1.0

In [ ]:
df['diff']

In [25]:
anzahl = df[df['diff']>0]

In [26]:
len(anzahl)

1791

In [1]:
#LÃ¶sung 1791

## Part B

In [ ]:
#df['diff_rollingwindow'] = df['NR'].diff()

In [36]:
df['sum_rollingwindow'] = df['NR'].rolling(3).sum()

In [39]:
df.head()

     NR  diff  diff_rollingwindow  sum_rollingwindow
ID
1   198   NaN                 NaN                NaN
2   208  10.0                 NaN                NaN
3   209   1.0                 NaN              615.0
4   212   3.0                14.0              629.0
5   213   1.0                 5.0              634.0

In [38]:
df['diff_rollingwindow'] = df['sum_rollingwindow'].diff()

In [40]:
anzahl2 = df[df['diff_rollingwindow']>0]

In [41]:
len(anzahl2)

1822

In [ ]:
#Answer 1822

In [45]:
len(df['NR'].rolling(3).sum().diff()>0)

2000

In [46]:
df['NR'].rolling(3).sum().diff()>0

ID
1       False
2       False
3       False
4        True
5        True
6        True
7        True
8        True
9        True
10       True
11      False
12       True
13       True
14       True
15       True
16       True
17       True
18       True
19       True
20       True
21       True
22       True
23       True
24       True
25       True
26       True
27       True
28       True
29       True
30      False
        ...
1971     True
1972     True
1973     True
1974     True
1975     True
1976     True
1977     True
1978     True
1979     True
1980     True
1981     True
1982     True
1983     True
1984     True
1985     True
1986     True
1987     True
1988     True
1989     True
1990     True
1991     True
1992     True
1993     True
1994     True
1995     True
1996     True
1997     True
1998     True
1999     True
2000     True
Name: NR, Length: 2000, dtype: bool

In [56]:
import pandas as pd
file_name = 'Day1.xlsx' 
df = pd.read_excel(file_name, index_col=0)
print(df.head()) 
df['sum_rollingwindow'] = df['NR'].rolling(3).sum()
df['sum_rollingwindow'].diff()
len(df[df['diff_rollingwindow']>0])

1822